<header role="banner">
  <nav class="navbar navbar-expand-md navbar-light bg-white absolute-top">
    <div class="container">
      <button class="navbar-toggler order-2 order-md-1" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse order-3 order-md-2" id="navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
            <div class="dropdown-menu" aria-labelledby="dropdown02">
              <%= link_to "Home", root_path, class: "dropdown-item" %>
              <%= link_to "About", about_me_path, class: "dropdown-item" %>
              <%= link_to "Contact", contact_path, class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
            <div class="dropdown-menu" aria-labelledby="dropdown02">
              <%= link_to "Blog", blogs_path, class: "dropdown-item"  %>
              <%= link_to_if(logged_in?(:site_admin),'Write a New Blog Post', new_blog_path, class: "dropdown-item") do end %>
              <%= link_to 'Topics', topics_path, class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Portfolio</a>
            <div class="dropdown-menu" aria-labelledby="dropdown03">
              <%= link_to "Portfolio", portfolios_path, class: "dropdown-item" %>
            </div>
          </li>
        </ul>
      </div>
      <%= link_to "Jack Corley", root_path, class: "navbar-brand mx-auto order-1 order-md-3" %>
      <div class="collapse navbar-collapse order-4 order-md-4" id="navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= login_helper 'nav-link', 'a' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

